.container-fluid{
    width: 100%;
    align-content: center;
}
body{
    background-color:black !important;
    color: gold !important; 
}
.rownav{
    width:100%;
}
#homebeer{
    margin-right: 20px;
}
#chartsbeer{
    margin-left: 20px;
    margin-right: 20px;
}
#mapsbeer{
    margin-left: 20px;
}
.jumbotron{
    background-color:black !important; 
    color:gold !important;
    text-align: center;
    width: 100%;
    font-family: 'Nothing You Could Do', cursive;
}
#seasonhead{
    font-family: 'Nothing You Could Do', cursive;
    width: 100%;
    text-align: center;
    color:gold !important;
    font-size: 40px;
    margin-bottom: 40px;
}
#des{
    background-image: url("barrelfinal.jpeg");
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 3px;
    font-size: 24px;
    text-align: left;
    border: 5px solid gold;
    font-family: 'Special Elite', cursive;
    
}
#sig{
    text-align: right;
    font-family: 'Dancing Script', cursive;
    margin-right: 200px;
    font-size: 50px;
}

#winterlab, #springlab, #summerlab, #falllab,#winterloc, #springloc, #summerloc, #fallloc, #jasonpic, #mypic{
    text-align: center;
    font-size: 24px;
    border: 5px solid gold;
    font-family: 'Special Elite', cursive;
    margin-top: 10px;

}
#jasonpic{
    margin-right: 30px;
}
#winterpng, #springpng, #summerpng, #fallpng{
    align-content: center;
}
#winterpng, #springpng, #summerpng{
    border: solid 2px gold;
}
td, tr,th{
    border: 2px solid gold;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    background-image: url("barrelfinal.jpeg");

}
#myclass, #dadclass{
    margin: 10px;
}