h1{
    font-family: 'Baloo Bhai', cursive;
    color: yellow;
}
body{
    font-family: 'Baloo Bhai', cursive;
    background-color: midnightblue;

}
a{
    color: yellow;
}
table, th, td {
    border: 1px solid yellow;
    color:yellow;
  }
